<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    
    <link rel="stylesheet" href="css/style.css">
    <style>
        .heading{
            margin-top: 100px;
        }
    </style>
</head>
<body>
    {{>navbar}}
    
<section class="menu" id="menu">

    <h1 id="dsalearning" class="heading"> DSA <span>Learning</span> </h1>
    <div class="box-container">

        <div class="box">
            <img src="images/stack.jpg" alt="">
            <h3>QUIZ 1</h3>
            <a href="/quiz" class="btn">Let's Practice Stack Concepts</a>
        </div>

        <div class="box">
            <img src="images/queue.png" alt="">
            <h3>QUIZ 2</h3>
            <a href="/Quiz2" class="btn">Let's Practice Queue Concepts</a>
        </div>

        <div class="box">
            <img src="images/deque.png" alt="">
            <h3>QUIZ 3</h3>
            <a href="/Quiz3" class="btn">Let's Practice Deque Concepts</a>
        </div>


    </div>
</section>
</body>
</html>