<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamify</title>
    
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.css" rel="stylesheet">	
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/loginpage.css">
    
</head>
<body>   
    <div class="mainw3-agileinfo2">
    <!-- Login Form -->
    <div class="login-form">  
    <div class="login-agileits-top"> 	
        <form action="/Register" name="f2" method="post" onsubmit="return validate()"> 
            <p class="error" style="color: red;margin: 0;padding: 0;display: block;" id="nameloc">{{msg}}</p>
            <p>Username </p>
            <input id="input1" type="text" class="name" name="username" placeholder="Username" required=""/>

            <p class="error" id="emailerror"></p>
            <p>Email Id </p>
            <input id="input3" type="email" class="name" name="Email" placeholder="Email Id" required=""/>
            
            <p class="error" id="passwordloc"></p>
            <p>Password</p>
            <input id="input2" type="password" class="password" name="Password" placeholder=".........." required=""/>  
           
            <p class="error" id="passerror"></p>
            <p> Confirm Password</p>
            <input id="input4" type="password" class="password" name="confPassword" placeholder=".........." required=""/>  
            
            <input type="submit"  value="Register"> 
        </form> 	
    </div> 
    <div class="login-agileits-bottom"> 
        <h5>Already Have An Account? <a href="/Login">Login</a></h5>
    </div>  
    <div class="social-w3lsicon">
        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
        <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
        <a href="#" class="social-button drble"><i class="fa fa-dribbble"></i></a> 
        <a href="#" class="social-button be"><i class="fa fa-behance"></i></a> 
        <a href="#" class="social-button in"><i class="fa fa-linkedin"></i></a> 
    </div>  
    </div>
</div> 
<script src="js/validate.js"></script>
<script src="js/superplaceholder.js"></script>
	<script>
	superplaceholder({
			el: input1,
			sentences: [ 'john.smith11', 'lorem.ipsum55'],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
        superplaceholder({
			el: input3,
			sentences: [ 'example@name.com','example.name2'],
			options: {
				loop: true,
				startOnFocus: false
			}
		})
        
		superplaceholder({
			el: input2,
			sentences: [ '.........', '.....', '.....' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
        superplaceholder({
			el: input4,
			sentences: [ '.........', '.....', '.....' ],
			options: {
				loop: true,
				startOnFocus: false 
			}
		})
        
	</script>
</body> 
