
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="/">home</a>
        <a href="#dsalearning">DSA Learning</a>
        <a href="/AllQuiz">Quiz</a>
        <a href="/game">Games</a>
        <a href="/compete">Compete</a>
        
    </nav>
    {{#if showlog}}
    <div class="icons">
        <a href="/Login">Login</a>
        <a href="/Register">Register</a>
    </div>
    {{/if}}
    {{#if showname}}
    <div class="icons">
        <a href="/account">Welcome {{name}}</a>
        {{!-- <a href="/LeaderBoard">LeaderBoard</a> --}}
    </div>
    {{/if}}


</header>

<!-- header section ends -->
    