
<!-- header section starts  -->

<header class="header">

    <a href="#" class="logo">
        <img src="images/logo.png" alt="">
    </a>

    <nav class="navbar">
        <a href="/">home</a>
        <a href="#about">DSA Learning</a>
        <a href="/quiz">Quiz</a>
        
    </nav>

    <div class="icons">
        <a href="#about">Login</a>
        <a href="#menu">Register</a>
    </div>


</header>

<!-- header section ends -->
    